body {
    background-color: #E8E8E8; 
}

.menu {
    background: #1F303F; 
    padding: 0 40px 120px 40px; 
    vertical-align: middle !important; 
    opacity: 100%; 
}

.menu-container {
    vertical-align: middle !important; 
    background: #192734; 
}

.row {
    overflow: hidden; 
    max-width: 95%; 
    margin: 5px auto; 
    display: flex; 
    padding: 8px; 
  }

  .row-table {
    overflow: hidden; 
    max-width: 95%; 
    margin: 5px auto; 
    display: flex; 
    padding: 2px; 
  }
  
  .col-md-50, .col-md-tool {
    padding: 5px; 
    width: 50%;    
  }

  .col-md-4-2 {
    padding: 5px;
  }

  .col-md-40 {
    padding: 5px; 
    width: 40%;    
  }

  .col-md-22 {
    padding: 5px; 
    width: 22%;    
  }

  .col-md-25 {
    padding: 5px; 
    width: 25%;    
  }

  .col-md-3 {
    padding: 5px; 
    width: 33.3%;     
  }

  .col-md-33 {
    padding: 5px; 
    width: 100%;   
  }

  .col-md-66 {
    padding: 5px; 
    width: 66.66%;   
  }

  .col-md-3-3 {
    padding: 8px; 
    width: 33.3%;     
  }

  #spark1, #spark2, #spark3, #chart, #chart1, #chart2, #chart3, #chart4, #chart5, #tool1, #tool2, #tool3, #table1, #table2, #table3, #table4, #table5 {
    background-color: #DFDCDC; 
  }

.apexcharts-legend text {
    font-weight: 900;
}

  table {
    width: 100%; 
  }

  tbody tr {
    border-top: 1px solid #e7e7e7; 
  }

  th {
    font-weight: bold; 
    font-family: Helvetica; 
    padding-bottom: 20px; 
  }
  td, th {
    width: 25%; 
    text-align: center; 
    height: 65px; 
  }

  td div {
    margin: 0 auto; 
  }

  .left {
    float: left; 
  }

  .right {
    float: right; 
  }

  @media only screen and (max-width: 480px) {
    th:first-child, td:first-child {
      display: none; 
    }
    .row {
      display: block; 
    }
    .col-md-4 {
      padding: 0; 
      width: 100%; 
    }
  }