body {
    background-color: khaki;
}

.menu {
    background: #E4F7F1;
    padding: 0 40px 120px 40px;
    vertical-align: middle !important;
    opacity: 100%;
}

.menu-container {
    vertical-align: middle !important;
    background: #E4F7F1;
}

#chart1, #chart2, #chart3, #chart4 {
    max-width: 650px;
    margin: 35px auto;
}

.row {
    overflow: hidden;
    max-width: 1090px;
    margin: 10px auto;
    display: flex;
  }

  .col-md-4 {
    width: 50%;
    padding: 0 25px;
  }

  table {
    width: 100%;
  }

  tbody tr {
    border-top: 1px solid #e7e7e7;
  }

  th {
    font-weight: bold;
    font-family: Helvetica;
    padding-bottom: 20px;
  }
  td, th {
    width: 25%;
    text-align: center;
    height: 65px;
  }

  td div {
    margin: 0 auto;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  @media only screen and (max-width: 480px) {
    th:first-child, td:first-child {
      display: none;
    }
    .row {
      display: block;
    }
    .col-md-4 {
      padding: 0;
      width: 100%;
    }
  }